#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
  margin: 0;

}

body {
  margin: 0;
}

.cardIndex {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.2fr;
  grid-gap: 20px;

}

.cardIndex img {
  height: 250px;

}